
body{
    background: rgb(36, 24, 24);
    height: 100%;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2023/04/09/06/18/explosion-7910812_1280.jpg');
    
}
.wrapper{
    width: 800px;
    height: 500px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

h1,h2,h3,p{
    font-size: 2.6rem;
    font-weight: 100;
    text-transform: uppercase;
}
#seconds, #tens {
    font-size: 2em;
}
button{
    border-radius: 5px;
    background: rgb(180, 70, 10);
    color : #fff;
    border: 0px ;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    box-shadow: 5px 5px rgb(0, 0, 0);
}
button:hover{
    transition: 0.3s;
    background: #fff;
    /* border: 1px solid #fff; */
    color: rgb(180, 70, 10);
    font-size: bold;
}